.header,
.menu,
.menu__list,
.menu__item,
.menu__link {
    background-color: transparent;
}

.header {
    position: fixed;
}

.menu__list {
    display: flex;
}

// .menu__item {
// }

.menu__link {
    /*text*/
    font-family: $Comfortaa;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    /**/
    // padding-top: 40px;
    // padding-bottom: 40px;
    // padding-left: 40px;
    // padding-right: 40px;
    padding: $desktop-rullers;

    &:hover {
        background-image: url("../img/around-bold4.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0;
        /*text*/
        color: $light-gray;
    }
}
