
/*Полезно*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  max-width: 80vw;
}

/*локальные стили*/

.back-img,
.back-img2,
.back-img3 {
  background-repeat: no-repeat;
  min-height: 100vh;
}

.back-img2,
.back-img3 {
  background-size: cover;
  background-position: 0 0;
}

.back-img {
  background-image: url("../img/Z-html.png"), url("../img/zarina-frondend.svg"), url("../img/background-desk.png");
  background-size: 300px, 481px, cover;
  background-position: center, center, 0 0;
}

.back-img2 {
  background-image: url("../img/winter.jpg");
}

.back-img3 {
  background-image: url("../img/zharki.jpg");
}

.portfolio,
.contacts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 18vh;
}

.portfolio {
  justify-content: space-between;
  overflow: overlay;
}

.portfolio-item {
  // min-width: 21vw; /*деформируется ширина */
  // min-height: 22vh;
  min-width: 255px; /*без min ширина уменьшается*/
  min-height: 155px;
  border: 3px dashed $light-gray;
  background-color: $light-gray50;
  margin-bottom: 2vw;

  &:not(:nth-child(3n)),
  &:not(:last-child){
    margin-right: 1vw;
  }
}

// .contacts {

// }

// .contacts-item {

// }


/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
a,
section,
img {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
