.wrapper {
  min-height: 100%;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
}

.back-img,
.back-img2,
.back-img3 {
  background-repeat: no-repeat;
  min-height: 100vh;
}

.back-img2,
.back-img3 {
  background-size: cover;
  background-position: 0 0;
}

.back-img {
  background-image: url("../img/Z-html.png"), url("../img/zarina-frondend.svg"), url("../img/background-desk.png");
  background-size: 300px, 481px, cover;
  background-position: center, center, 0 0;
}

.back-img2 {
  background-image: url("../img/winter.jpg");
}

.back-img3 {
  background-image: url("../img/zharki.jpg");
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25vh;
  padding-left: 8vh;
  padding-right: 8vh;
  justify-content: space-around;
}

.portfolio-item {
  width: 35vh;
  height: 20vh;
  border: 3px dashed $light-gray;
  background-color: $light-gray50;
  margin-bottom: 25px;
  margin-right: 25px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
a,
section,
img {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
