// Viewports
$mobile-width-only: 320px;
$tablet-width: 780px;
$desktop-width: 1200px;
//rullers
$mobile-rullers: 20px;
$tablet-rullers: 30px;
$desktop-rullers: 60px;
//colors
$white: #ffffff;
$black: #000000;
