// Viewports
$mobile-s-width: 320px;
$mobile-l-width: 654px;
$tablet-width: 768px;
$desktop-width: 1125px;
//rullers
$mobile-rullers: 20px;
$tablet-rullers: 30px;
$desktop-rullers: 2vw;
//colors
$white: #ffffff;
$white50: rgba(255, 255, 255, 0.5);
$black: #000000;
$light-gray: #d7d2ce;
$light-gray50: rgba(215, 210, 206, 0.5);
$green: #08903E;