// Viewports
$mobile-width-only: 320px;
$tablet-width: 780px;
$desktop-width: 100vw; /*1200px;*/
//rullers
$mobile-rullers: 20px;
$tablet-rullers: 30px;
$desktop-rullers: 60px;
//colors
$white: #ffffff;
$black: #000000;
$light-gray: #d7d2ce;
$light-gray50: rgba(215, 210, 206, 0.5);