$Pangolin: "Pangolin", "Arial", sans-serif;

@font-face {
  font-family: 'Pangolin';
  src: url('/Pangolin-Regular.woff2') format('woff2'),
      url('/Pangolin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Viewports
$mobile-s-width: 320px;
$mobile-l-width: 654px;
$tablet-width: 768px;
$desktop-width: 1125px;
//rullers
$mobile-rullers: 20px;
$tablet-rullers: 30px;
$desktop-rullers: 2vw;
//colors
$white: #ffffff;
$white50: rgba(255, 255, 255, 0.5);
$black: #000000;
$light-gray: #d7d2ce;
$light-gray50: rgba(215, 210, 206, 0.5);
$green: #08903E;

/*Полезно*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  max-width: 70vw;
}

/*локальные стили*/

.back-img1sec,
.back-img2sec,
.back-img3sec {
  height: 100vh;
}

.back-img1sec {
  background-image: url("Z-html.png"), url("zarina-frondend.svg"), url("background-desk-with-cloud.png");
  background-size: 300px, 481px, cover;
    background-position: center, center, 0 0;
  background-repeat: no-repeat;

  @media (min-width: $mobile-s-width) and (max-width: $mobile-l-width) {
    background-size: 50vw, 80vw, cover;
  }
}

.back-img2sec {
  position: relative;
  z-index: -1;
  background-color: $white50;

  &::before,
  &::after {
    position: fixed;
    z-index: -1;
  }

  &::before {
    top: -1px;
    left: 0;
    content: url("frame1.svg");
  }

  &::after {
    bottom: 0;
    right: 0;
    content: url("frame2.svg");
  }
}

.portfolio,
.contacts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 19vh;
}

.portfolio {
  overflow: overlay;
  justify-content: center;

  @media (min-width: $mobile-s-width) and (max-width: $mobile-l-width) {
    justify-content: center;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    justify-content: space-around;
  }
}

.portfolio-item {
  width: 17vw; 
  height: 11vw;
  min-width: 255px;
  min-height: 155px;
  border: 3px dashed $light-gray;
  background-color: $light-gray50;
  margin-bottom: 2vw;
  text-align: center;

  @media (min-width: $mobile-l-width) and (max-width: $desktop-width) {
    margin-right: 1vw;
  }

  @media (min-width: $desktop-width) {
    &:not(:nth-of-type(3n)) {
      margin-right: 1vw;
    }
  }
}
// .contacts {

// }

// .contacts-item {

// }

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
a,
section,
img {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.header,
.menu,
.menu__list,
.menu__item,
.menu__link {
    background-color: transparent;
}

.header {
    position: fixed;
}

.menu__list {
    display: flex;
}

// .menu__item {
// }

.menu__link,
.form-text-me {
    /*text*/
    font-family: $Pangolin;
}

.menu__link {
    font-size: 20px;
    text-transform: uppercase;
    padding: $desktop-rullers;
    font-weight: bold;
    text-align: center;
    color: $green;
    cursor: pointer;
    background: linear-gradient(90deg, transparent, $green, transparent) bottom/var(--d, 0) 3px no-repeat;
    transition: 0.5s;

    &:hover {
        //background-image: url("../img/around-bold4.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        font-size: 22px;
        --d: 100%;
    }
}

.form-first {
    background-color: $light-gray50;
    width: 100%;
}

.form-text-me {
    font-size: 14px;
    text-align: left;
}
