//.parallax я нужен для js

.parallax__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.parallax__images {
    position: absolute;
    width: 120%;
    height: 110%;
    top: -10%;
    left: -10%;
}

.images-parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.images-parallax__clouds,
.images-parallax__me,
.images-parallax__front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
}

.images-parallax__clouds {
    background: url("../img/background-desk-with-cloud.png") top / cover;
    top: 0;
    z-index: 2;
}

.images-parallax__me {
    z-index: 3;
    background-image: url("../img/Z-html.png"), url("../img/zarina-frondend.svg");
    background-size: 300px, 481px;
    background-position: center, center;
    
}

.images-parallax__front {
    z-index: 4;
    background-image: url("../img/clouds.png");
    background-size: 100vw;
    background-position: top -10vw;
}