.portfolio {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20vh;

    @media (min-width: $mobile-s-width) and (max-width: $mobile-l-width) {
        justify-content: center;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
        justify-content: space-around;
    }
}

.portfolio-item {
    width: 17vw;
    height: 3vh;
    min-width: 255px; /*без min ширина уменьшается*/
    min-height: 155px;
    border: 3px dashed $light-gray;
    background-color: $light-gray50;
    margin-bottom: 2vw;
  
    &:last-child {
      background-color: transparent;
      border: none;
      text-align: center;
      padding-top: 2vw;
    }
  
    @media (min-width: $mobile-l-width) and (max-width: $desktop-width) {
      margin-right: 1vw;
    }
  
    @media (min-width: $desktop-width) {
      &:not(:nth-of-type(3n)) {
        margin-right: 1vw;
      }
    }
  }
  