@charset "UTF-8";
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local("Comfortaa"), local("Comfortaa-Regular"), url(http://themes.googleusercontent.com/static/fonts/comfortaa/v4/qLBu5CQmSMt1H43OiWJ77aCWcynf_cDxXwCLxiixG1c.ttf) format("truetype"); }

/*1200px;*/
/*Полезно*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.container {
  margin: 0 auto;
  max-width: 80vw; }

/*локальные стили*/
.back-img,
.back-img2,
.back-img3 {
  background-repeat: no-repeat;
  min-height: 100vh; }

.back-img2,
.back-img3 {
  background-size: cover;
  background-position: 0 0; }

.back-img {
  background-image: url("../img/Z-html.png"), url("../img/zarina-frondend.svg"), url("../img/background-desk.png");
  background-size: 300px, 481px, cover;
  background-position: center, center, 0 0; }

.back-img2 {
  background-image: url("../img/winter.jpg"); }

.back-img3 {
  background-image: url("../img/zharki.jpg"); }

.portfolio,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 18vh; }

.portfolio {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: scroll; }

.portfolio-item {
  min-width: 255px;
  /*без min ширина уменьшается*/
  min-height: 155px;
  border: 3px dashed #d7d2ce;
  background-color: rgba(215, 210, 206, 0.5);
  margin-bottom: 2vw; }
  .portfolio-item:not(:nth-child(3n)), .portfolio-item:not(:last-child) {
    margin-right: 1vw; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:focus,
:active,
a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside,
a,
section,
img {
  display: block; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

a,
a:visited,
a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

.header,
.menu,
.menu__list,
.menu__item,
.menu__link {
  background-color: transparent; }

.header {
  position: fixed; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__link {
  /*text*/
  font-family: "Comfortaa", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  /**/
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px; }
  .menu__link:hover {
    background-image: url("../img/around-bold4.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0;
    /*text*/
    color: #d7d2ce; }
