doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='icon', type='image/x-icon', href='img/favicon.ico')
        link(rel='stylesheet' href='style.css')
    body
        header.header
            nav.menu
                ul.menu__list
                    li.menu__item
                        a.menu__link(href='#') Z-frontend
                    li.menu__item
                        a.menu__link(href='#') Портфолио
                    li.menu__item
                        a.menu__link(href='#') Контакты
        main.main
            section.back-img1sec
                div.container
                    h1.visually-hidden Это я
            section.back-img2sec 
                div.container
                    ul.portfolio
                        li.portfolio-item
                            a(href='') first site
                        li.portfolio-item
                            a(href='') second site
                        li.portfolio-item
                            a(href='')
                        li.portfolio-item
                            a(href='')
                        li.portfolio-item
                            a(href='')
                        li.portfolio-item
                            a(href='')
                        li.portfolio-item
                            a(href='')
                        li.portfolio-item
                            a(href='')
            section.back-img3sec
                div.container
                    ul.contacts
                        li.contacts-item
                            form.form(action='',method='post').form-first
                                fieldset.form-text-me
                                    legend Напишите мне
                                    label.visually-hidden text me
                                    textarea.text-me-textarea#comment-field(name='comment', rows='5', placeholder='Хочу свой сайт!')
                        li.contacts-item
                        li.contacts-item
                        li.contacts-item
            footer
            script(src="/js/script.js")